/* Policy */

@font-face {
    font-family: "diogenes";
    src: url('../../../policy/diogenes.ttf');
}

@font-face {
    font-family: "marav";
    src: url('../../../policy/Marav2.ttf');
}

@font-face {
    font-family: "poseiaoe";
    src: url('../../../policy/PoseiAOE.ttf');
}

@font-face {
    font-family: "dalek";
    src: url('../../../policy/DALEK.ttf');
}

@font-face {
    font-family: "spqr";
    src: url('../../../policy/spqr.ttf');
}

/* General CSS */

body {
  background-color:#3694DB;
  padding:0;
  margin:auto;
  width:1340px;
}

a {
  text-decoration:none;
  color:black;
}

h1 {
  text-align:center;
}

h1:first-letter, h2:first-letter,
.news:first-letter,
#new_list.ligne .ligne:first-letter,
#cadre_gauche h3:first-letter,
#mdp_perdu a:first-letter,
.rouge_goco {
    color: #B30000 !important;
}

table {
  margin:auto;
  margin-top:5px;
    border-collapse: separate;
    border-spacing: 0;
    color: #2A2A2A;
}

thead {
  font-weight:bold;
  font-size:1em;
  text-shadow: 0 1px 0 #FFFFFF;
}

thead td {
    border-top: 1px solid #EAEAEA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font: bold 1.3em 'trebuchet MS','Lucida Sans',Arial;
}

thead td:first-child {
    border-top: medium none;
}

table thead tr td:first-letter {
  color: #B30000 !important;
}

tfoot {
  font-weight:bold;
}

tbody {
  font-size:0.9em;
}

td {
    border-bottom: 1px solid #CDCDCD;
    box-shadow: 0 1px 0 #FFFFFF;
    padding: 3px;
}

tbody td:nth-child(1) {
  background-color:#E1B88F;
  font-weight:bold;
}

td:nth-child(2), td:nth-child(3),
td:nth-child(4), td:nth-child(5),
td:nth-child(6), td:nth-child(7),
td:nth-child(8), td:nth-child(9),
td:nth-child(10), td:nth-child(11),
td:nth-child(12), td:nth-child(13),
td:nth-child(14), td:nth-child(15) {
    background: none repeat scroll 0 0 rgba(210, 182, 150, 0.15);
    border-right: 1px solid #FFFFFF;
}

table.none tbody td:nth-child(1),
table.none tbody td:nth-child(2), 
table.none tbody td:nth-child(3),
table.none tbody td:nth-child(4), 
table.none tbody td:nth-child(5), 
table.none tbody td:nth-child(6), 
table.none tbody td:nth-child(7), 
table.none tbody td:nth-child(8), 
table.none tbody td:nth-child(9), 
table.none tbody td:nth-child(10), 
table.none tbody td:nth-child(11), 
table.none tbody td:nth-child(12), 
table.none tbody td:nth-child(13), 
table.none tbody td:nth-child(14), 
table.none tbody td:nth-child(15) {
  background-color:transparent;
  font-weight:normal;
}

table.none tbody td.gras:nth-child(1) {
  font-weight:bold;
}

table.none td {
  border:0px;
  box-shadow:0 0px 0 #000;
  white-space:normal;
}

td.none {
  background-color:transparent;
  border:0px;
  box-shadow:0 0px 0 #000;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/* General class*/

.centrer {
  text-align:center;
}

.clear {
  clear:both
}

.normal {
  font-weight:normal;
}

.cadre {
  position:relative;
  float:left;
}

.ligne {
  position:relative;
  float:left;
  width:100%;
}

.ligne80 {
  font-size:0.8em;
}

.ligne90 {
  font-size:0.9em;
}

.ligne200 {
  font-size:2em;
}

.ligne_50 {
  position:relative;
  float:left;
  width:50%;
}

.ligne_80 {
  width:80%;
  margin:auto;
}

.gras {
  font-weight:bold;
}

.gauche {
  text-align:left;
}

.droite {
  text-align:right;
}

.justify {
  text-align:justify;
}

.valign {
    display: inline-block;
    vertical-align: middle;
}

.ss_sligne {
  text-decoration:none;
}

.erreur {
  color:red;
  font-weight:bold;
  text-align:center;
}

.cursor {
  cursor : pointer;
}

.dore {
  text-shadow: 0px 0px 8px rgba(255, 140, 0, 0.75);
}

/* Popup */
#cadre_milieu_petit {
  width:600px;
  position:absolute;
  margin-left:145px;
  margin-top:40px;
  display:none;
  z-index:1000;
  background-color: #E4DCC2;
  border: 2px solid #B8860B;
  box-shadow: 2px 3px 5px 2px #656565 inset, 0 -3px 5px 0 #656565 inset;
}

#cadre_haut_petit {
  width:100%;
  position:relative;
  float:left;
  text-align:right;
}

#cadre_bas_petit {
  width:100%;
  height:14px;
  position:relative;
  float:left;
}

#cadre_centre_petit {
  margin-left:10px;
  width:580px;
}

/* Status des joueurs */
.joueur_bloque {
  color:red !important;
  font-weight:bold;
}

.joueur_pause {
  color:orange !important;
  font-weight:bold;
}

.joueur_manque {
  color:green !important;
  font-weight:bold;
}

.sortie_urgence {
  color:purple;
  font-weight:bold;
}

/* Button */

input,
textarea {
  background-color: #f5efd0;
    border: 1px solid #857061;
}

.bouton_classique {
    background-color: #D9D2BF;
    border: 1px solid #000000;
    display: table;
    margin: auto;
}

input[type="submit"] {
    background: linear-gradient(#F0E9D6, #D2C9AC) repeat scroll 0 0 transparent;
    border: 1px solid #CAC3B1;
    color: #0C0400;
    cursor: pointer;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-size: 1.1em;
    margin: 1px 2px;
    padding: 0 3px;
}

/* Design */

#banniere {
	background-image:url('banniere.jpg');
	width:1250px;
	height:276px;
	cursor:pointer;
}

#menu {
	background-image:url('barre_menu.jpg');
	width:1250px;
	height:50px;
	position:absolute;
	top:276px;
}

footer {
  min-height:50px;
  width:100%;
  background-color:black;
  bottom:0;
}

footer nav {
  padding:10px 0px 10px 0px;
  font-size:0.75em;
  color:white;
  column-count:5;
  -moz-column-count:5;
  -webkit-column-count:5;
  
  column-gap: 20px;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  
  column-rule: 1px dotted #BBBBBB;
  -moz-column-rule: 1px dotted #BBBBBB;
  -webkit-column-rule: 1px dotted #BBBBBB;
}

footer nav .titre {
  font-weight:bold;
}

footer nav a {
  color:white;
  text-decoration:none;
}

#home {
	margin-top:50px;
	background-image:url('sous_menu.png'), url('design_bas.jpg'), url('font_design.png');
	background-position: 0% 0%, bottom, 0% 0%;
	background-repeat: no-repeat, no-repeat, repeat;
	padding-bottom: 7px;
	width: 1250px;
}

#home_int {
	background-image:url('header_tab_accueil.jpg'), url('font_bas_cadre.jpg'), url('font_texte_accueil.jpg');
	background-position: 0% 0%, bottom, 0% 0%;
	background-repeat: no-repeat, no-repeat, repeat-y;
	width:873px;
	margin-left:188px;
	padding-bottom:85px;
	position:relative;
	float:left;
}

#formulaire {
	width:230px;
	display:inline;
	float:right;
	padding-top:75px;
	margin-right:15px;
	text-align:center;
}

#inscription {
	position:relative;
	width:230px;
}

#connexion {
	position:relative;
	width:230px;
}

#inside {
  float: left;
  width: 501px;
	display:inline;
  padding: 75px 0px 0px 15px;
  font-family: 'Times New Roman';
  font-size: 12px;
}

#inside h1:first-letter, 
#inside h2:first-letter, 
#inside p:first-letter,
#formulaire h2:first-letter,
#new_list.ligne .ligne:first-letter,
.rouge_goco,
#nouscontacter_droite:first-letter {
    color: #B30000 !important;
}

#inside h1 {
	font-size: 1.5em;
	text-align:center;
	margin:18px 0px 8px 0px;
}

#inside h2 {
    font-size: 1.2em;
    margin: 5px 0px;
    text-align: center;
}

#inside p {
	text-align:justify;
	margin:2px 0px;
}

#formulaire h2 {
	margin-top:5px;
	margin-bottom:5px;
}

#formulaire input.form{
	width:80%;
	margin-top:3px;
}

#formulaire .bouton_classique  {
	margin-top:5px;
}

#reseaux_sociaux {
	text-align:center;
}

#mdp_perdu {
  text-align:center;
  position:relative;
}

#mdp_perdu a {
  font-size:0.9em;
  font-weight:bold;
}

#home_description {
	width:100%;
}

#home_description_1 {
	
}

#home_description_2 {
	display:none;
}

#home_description_3 {
	display:none;
}

#home_description_4 {
	display:none;
}

.home_description_left {
	width:25%;
	float:left;
	text-align:center;
}

.home_description_left img {
	width:96%;
}

.home_description_right {
	width:75%;
	float:left;
}

.home_description_right_inner {
	width:96%;
	margin-left:2%;
	text-align:justify;
}

#nouscontacter_gauche {
	width:40%;
	float:left;
	position:relative;
}

#nouscontacter_droite {
	width:60%;
	float:right;
	position:relative;
}

#nouscontacter_droite textarea {
	width:100%;
	height:122px;
}

#menu a {
	color:white;
	font-size:1.4em;
	font-family:"diogenes";
	position:relative;
	float:left;
	height:30px;
	text-align:center;
	padding-top:9px;
}

#menu #nousrejoindre {
	margin-left:110px;
	width:170px;
}

#menu #decouvrirjeu {
	width:170px;
}

#menu #faq {
	width:110px;
	margin-left:10px;
}

#menu #accueil {
	color:black;
	font-weight:bold;
	width:105px;
	margin-top:-20px;
	font-size:1.6em;
}

#menu #accueil .ssmenu {
	color:#ffff00;
	margin: 2px 0 0 2px;
	text-shadow: -1px -1px 0px #000;
}

#menu #forum {
	width:110px;
	margin-left:10px;
}

#menu #partenaires {
	width:110px;
}

#menu #contact {
	width:110px;
}

#menu .ssmenu {
	width:100%;
	margin: 1px 0 0 1px;
	color:#21160a;
	text-shadow: -1px -1px 0px #FFF;
}

#sinscrire img {
	width:50%;
}

.part_banniere {
  height:32px;
  width:468px;
}

/* Classement */
#cadre_classement {
  position:relative;
  float:left;
}

#class_gauche {
  position:relative;
  float:left;
  width:48px;
  height:100px;
  margin-right:5px;
  margin-top:129px;
}

#class_centre {
  position:relative;
  float:left;
  width:390px;
}

#class_droite {
  position:relative;
  float:left;
  width:48px;
  height:100px;
  margin-left:5px;
  margin-top:130px;
}

.form_rech3 {
  position:relative;
  float:left;
  margin-top:1px;
}

.form_rech4 {
  position:relative;
  float:left;
  margin-left:10px;
}

.form_rech5 {
  position:relative;
  float:left;
  margin-top:10px;
  margin-left:40px;
  text-align:center;
  width:120px;
}

#inside_deco_ress {
  margin-top:90px;
  float:left;
  text-align:center;
  width:158px;
}

/* profilsjoueur */

#cadre_espace_profils {
  position:relative;
  float:left;
  width:500px;
}

#description_profils {
  position:relative;
  float:left;
  width:350px;
  font-size:14px;
  overflow:auto;
}

#cadre_avatar {
  position:relative;
  float:left;
  min-height:200px;
  width:220px;
  margin-left:80px;
}

#cadre_info_perso {
  position:relative;
  float:left;
  font-size:14px;
  margin-left:80px;
  margin-top:10px;
  width: 280px;
}

#cadre_info_joueur {
  position:relative;
  float:left;
  font-size:14px;
  width:200px;
}

#cadre_contact {
  position:relative;
  float:left;
  margin-left:20px;
}

.cadre_dedi {
  background-color: #F1DE9D;
  border: 1px solid white;
  height: 100px;
  margin-top: 3px;
  width:600px;
}

/* profilsalliance */
.laurier1 {
  width:25px;
  height:13px;
  text-align:center;
  position:relative;
  float:left;
}

.laurier2 {
  position:absolute;
  text-align:right;
  font-size:0.7em;
  width:23px;
  margin-top:11px;
}

#cadre_com_profils {
  position:relative;
  float:left;
  background-image:url('../../../images/menu/interieur2.png');
  background-repeat:repeat-y;
  width:495px;
  margin-left:3px;
}

#cadre_com_profils2 {
  background-image:url('../../../images/menu/haut2.png');
  background-repeat:no-repeat;
  width:779px;
  height:13px;
}

#cadre_com_profils3 {
  position:relative;
  float:left;
  background-image:url('../../../images/menu/bas2.png');
  background-repeat:no-repeat;
  width:779px;
  height:15px;
}

#cadre_com_profils4 {
  position:relative;
  float:left;
  margin-left:15px;
  margin-right:15px;
  min-height:80px;
}

#cadre_laurier {
  margin-left:160px;
}

/*obtenirdesfaveurs */
.cache_renta {
  display:none;
}

/* tour de force */
.font_hf {
  background-image:url(../../../images/hf/font_succes2.png);
  background-repeat:no-repeat;
  height:73px;
  width:452px;
  position:relative;
  float:left;
  margin-bottom:5px;
}

.titre_hf {
  position:relative;
  float:left;
  height:22px;
  width:100%;
  margin-top:5px;
  color:white;
  font-weight:bold;
  text-align:center;
}

.txt_hf {
  position:relative;
  float:left;
  width:100%;
  text-align:center;
}

/* Découverte du jeu */
#decouverte_gauche {
  position:relative;
  float:left;
  width:48px;
  height:100px;
  margin-right:5px;
  margin-top:129px;
}

#decouverte_centre {
  position:relative;
  float:left;
  width:390px;
}

#decouverte_centre img {
  width:100%;
}

#decouverte_droite {
  position:relative;
  float:left;
  width:48px;
  height:100px;
  margin-left:5px;
  margin-top:130px;
}

/*** LANG ***/
/* FR */

.jeu-gratuit {
	position:relative;
	width:88px;
	height:31px;
	margin-left:35px;
	margin-bottom:3px;
}

.jeu-gratuit2 {
	position:absolute;
	top:3px;
	left:1px;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;
	line-height:12px;
	width:86px;
	text-align:center;
}

.jeu-gratuit3 {
	position:absolute;
	top:8px;
	left:-1px;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;
	line-height:12px;
	width:90px;
	text-align:center;
}
