Options +FollowSymlinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^ellaswar\.com$ [NC]
RewriteRule ^(.*) http://www.ellaswar.com/$1 [QSA,L,R=301]
RewriteRule rss/news.xml rss/news.xml [L]
RewriteRule news.xml rss/news.xml [L]
ErrorDocument 400 /erreur-400
ErrorDocument 401 /erreur-401
ErrorDocument 403 /erreur-403
ErrorDocument 404 /erreur-404
ErrorDocument 500 /erreur-500
RewriteRule classements&pageclass=([0-9]+)&par=([a-z]+)$ http://www.ellaswar.com/classementdesjoueurs-$1-$2 [L]
RewriteRule classements&classement=alliances index.php?page=classement\ alliance [L]
RewriteRule ^profilsAlliance&alliance=([0-9]+)$ index.php?page=profilsAlliance&var1=$1 [L]
RewriteRule ^membre\ alliance&alliance=([0-9]+)$ index.php?page=membre\ alliance&var1=$1 [L]
RewriteRule ^profils\ joueur&joueur=([0-9]+)$ index.php?page=profils\ joueur&var1=$1 [L]
RewriteRule ^([a-zA-Z0-9\-\&=\ \_]+)-([a-zA-Z0-9\-\&=\ \_]+)-([a-zA-Z0-9\-\&=\ \_]+)-([a-zA-Z0-9\-\&=\ \_]+)-([a-zA-Z0-9\-\&=\ \_]+)-([a-zA-Z0-9\-\&=\ \_]+)$  index.php?page=$1&var1=$2&var2=$3&var3=$4&var4=$5&var5=$6 [L]
RewriteRule ^([a-zA-Z0-9\-\&=\ \_]+)-([a-zA-Z0-9\-\&=\ \_]+)-([a-zA-Z0-9\-\&=\ \_]+)-([a-zA-Z0-9\-\&=\ \_]+)-([a-zA-Z0-9\-\&=\ \_]+)$  index.php?page=$1&var1=$2&var2=$3&var3=$4&var4=$5 [L]
RewriteRule ^([a-zA-Z0-9\-\&=\ \_]+)-([a-zA-Z0-9\-\&=\ \_]+)-([a-zA-Z0-9\-\&=\ \_]+)-([a-zA-Z0-9\-\&=\ \_\(\)]+)$  index.php?page=$1&var1=$2&var2=$3&var3=$4 [L]
RewriteRule ^([a-zA-Z0-9\-\&=\ \_]+)-([a-zA-Z0-9\-\&=\ \_]+)-([a-zA-Z0-9\-\&=\ \_]+)$  index.php?page=$1&var1=$2&var2=$3 [L]
RewriteRule ^([a-zA-Z0-9\-\&=\ \_]+)-([a-zA-Z0-9\-\&=\ \_]+)$  index.php?page=$1&var1=$2 [L]
RewriteRule ^([a-zA-Z0-9\-\&=\ \_]+)$  index.php?page=$1 [L]
ExpiresActive On
ExpiresDefault "access plus 7200 seconds"
ExpiresByType image/jpg "access plus 2592000 seconds"
ExpiresByType image/jpeg "access plus 2592000 seconds"
ExpiresByType image/png "access plus 2592000 seconds"
ExpiresByType image/gif "access plus 2592000 seconds"
AddType image/x-icon .ico
ExpiresByType image/ico "access plus 2592000 seconds"
ExpiresByType image/icon "access plus 2592000 seconds"
ExpiresByType image/x-icon "access plus 2592000 seconds"
ExpiresByType text/css "access plus 2592000 seconds"
ExpiresByType text/html "access plus 7200 seconds"
ExpiresByType application/xhtml+xml "access plus 7200 seconds"
ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
<FilesMatch "\\.(ico|jpe?g|png|gif|swf|css|gz)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
<filesMatch "\\.(html|htm)$">
Header set Cache-Control "max-age=7200, public"
</filesMatch>
<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
Header unset Cache-Control
</FilesMatch>
Header unset ETag
FileETag none
