/* Policy */

@font-face {
    font-family: "diogenes";
    src: url('../../../policy/diogenes.ttf');
}

@font-face {
    font-family: "marav";
    src: url('../../../policy/Marav2.ttf');
}

@font-face {
    font-family: "poseiaoe";
    src: url('../../../policy/PoseiAOE.ttf');
}

@font-face {
    font-family: "jancieni";
    src: url('../../../policy/jancieni.ttf');
}

@font-face {
    font-family: "jancient";
    src: url('../../../policy/jancient.ttf');
}

@font-face {
    font-family: "dalek";
    src: url('../../../policy/DALEK.ttf');
}

@font-face {
    font-family: "spqr";
    src: url('../../../policy/spqr.ttf');
}

@font-face {
    font-family: "old press";
    src: url('../../../policy/Old Press.ttf');
}

/* General CSS */

body {
  background-color:#3694DB;
  padding:0;
  margin:auto;
  width:1340px;
}

a {
  text-decoration:none;
  color:black;
}

h1 {
  text-align:center;
}

h1:first-letter, h2:first-letter,
.news:first-letter,
#new_list.ligne .ligne:first-letter,
#cadre_gauche h3:first-letter,
.rouge_goco {
    color: #B30000 !important;
}

table {
  margin:auto;
  margin-top:5px;
    border-collapse: separate;
    border-spacing: 0;
    color: #2A2A2A;
}

thead {
  font-weight:bold;
  font-size:1em;
  text-shadow: 0 1px 0 #FFFFFF;
}

thead td {
    border-top: 1px solid #EAEAEA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font: bold 1.3em 'trebuchet MS','Lucida Sans',Arial;
}

thead td:first-child {
    border-top: medium none;
}

table thead tr td:first-letter {
  color: #B30000 !important;
}

tfoot {
  font-weight:bold;
}

tbody {
  font-size:0.9em;
}

td {
    border-bottom: 1px solid #CDCDCD;
    box-shadow: 0 1px 0 #FFFFFF;
    padding: 3px;
}

tbody td:nth-child(1) {
  background-color:#E1B88F;
  font-weight:bold;
}

td:nth-child(2), td:nth-child(3),
td:nth-child(4), td:nth-child(5),
td:nth-child(6), td:nth-child(7),
td:nth-child(8), td:nth-child(9),
td:nth-child(10), td:nth-child(11),
td:nth-child(12), td:nth-child(13),
td:nth-child(14), td:nth-child(15) {
    background: none repeat scroll 0 0 rgba(210, 182, 150, 0.15);
    border-right: 1px solid #FFFFFF;
}

table.none tbody td:nth-child(1),
table.none tbody td:nth-child(2), 
table.none tbody td:nth-child(3),
table.none tbody td:nth-child(4), 
table.none tbody td:nth-child(5), 
table.none tbody td:nth-child(6), 
table.none tbody td:nth-child(7), 
table.none tbody td:nth-child(8), 
table.none tbody td:nth-child(9), 
table.none tbody td:nth-child(10), 
table.none tbody td:nth-child(11), 
table.none tbody td:nth-child(12), 
table.none tbody td:nth-child(13), 
table.none tbody td:nth-child(14), 
table.none tbody td:nth-child(15) {
  background-color:transparent;
  font-weight:normal;
}

table.none tbody td.gras:nth-child(1) {
  font-weight:bold;
}

table.none td {
  border:0px;
  box-shadow:0 0px 0 #000;
  white-space:normal;
}

td.none {
  background-color:transparent;
  border:0px;
  box-shadow:0 0px 0 #000;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/* General class*/

.centrer {
  text-align:center;
}

.clear {
  clear:both
}

.normal {
  font-weight:normal;
}

.cadre {
  position:relative;
  float:left;
}

.cadre_50 {
  position:relative;
  float:left;
  width:50%;
}

.ligne {
  position:relative;
  float:left;
  width:100%;
}

.ligne80 {
  font-size:0.8em;
}

.ligne90 {
  font-size:0.9em;
}

.ligne_50 {
  position:relative;
  float:left;
  width:50%;
}

.ligne_80 {
  width:80%;
  margin:auto;
}

.gras {
  font-weight:bold;
}

.italic {
  font-style:italic;
}

.sousligne {
  text-decoration:underline;
}

.gauche {
  text-align:left;
}

.droite {
  text-align:right;
}

.justify {
  text-align:justify;
}

.valign {
    display: inline-block;
    vertical-align: middle;
}

.ss_sligne {
  text-decoration:none;
}

.erreur {
  color:red;
  font-weight:bold;
  text-align:center;
}

.cursor {
  cursor : pointer;
}

.dore {
  text-shadow: 0px 0px 8px rgba(255, 140, 0, 0.75);
}

.red {
  color:red;
}

/* Status des joueurs */
.joueur_bloque {
  color:red !important;
  font-weight:bold;
}

.joueur_pause {
  color:orange !important;
  font-weight:bold;
}

.joueur_manque, .vert_bold {
  color:green !important;
  font-weight:bold;
}

.sortie_urgence {
  color:purple;
  font-weight:bold;
}

/* Popup */
#cadre_milieu_petit {
  width:600px;
  position:absolute;
  margin-left:145px;
  margin-top:40px;
  display:none;
  z-index:1000;
  background-color: #E4DCC2;
  border: 2px solid #B8860B;
  box-shadow: 2px 3px 5px 2px #656565 inset, 0 -3px 5px 0 #656565 inset;
}

#cadre_haut_petit {
  width:100%;
  position:relative;
  float:left;
  text-align:right;
}

#cadre_bas_petit {
  width:100%;
  height:14px;
  position:relative;
  float:left;
}

#cadre_centre_petit {
  margin-left:10px;
  width:580px;
}

#cadre_panneress {
  height: 30px;
}

/* Barres de chargement */

.progress-bar {
  width: 0px;
  height: 18px;
  padding: 2px 2px 3px 2px;
  background-color: #E6DCBF;
/*background-color: #191919;*/
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
  -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
  -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
  position:relative;
  float:left;
  margin:10px;
  margin-top:0px;
  box-shadow: 1px 1px 12px #555;
}

.progress-bar2:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 18px;
  background: #999;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

.progress-bar2:after {
  content: '|||||||||||||';
  display: block;
  position: absolute;
  width: 100%;
  height: 18px;
  overflow: hidden;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  -moz-transform: skewX(-30deg);
  -o-transform: skewX(-30deg);
  font: bold 120px/80px sans-serif;
  letter-spacing: -8px;
  color: #000;
  opacity: 0.06;
}

.progress-bar-txt {
  display: block;
  position: absolute;
  z-index:1000;
  width:100%;
  color:white;
  text-align:center;
  text-shadow: 1px 1px 12px #000;
  margin-top:3px;
}

.blue:before {
  background: #099;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#099), to(#006A6B));
  background: -moz-linear-gradient(top, #099, #006A6B);
  background: -o-linear-gradient(#099, #006A6B);
  background: -ms-linear-gradient(#099, #006A6B);
  background: linear-gradient(#099, #006A6B);
}

.rouge:before {
  background: #FF0000;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF0000), to(#D30000));
  background: -moz-linear-gradient(top, #FF0000, #D30000);
  background: -o-linear-gradient(#FF0000, #D30000);
  background: -ms-linear-gradient(#FF0000, #D30000);
  background: linear-gradient(#FF0000, #D30000);
}

.vert:before {
  background: #77B33C;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#77B33C), to(#446622));
  background: -moz-linear-gradient(#77B33C, #446622) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(#77B33C, #446622);
  background: -ms-linear-gradient(#77B33C, #446622);
  background: linear-gradient(#77B33C, #446622);
}

.jaune:before {
  background: #FFCC33;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFCC33), to(#CC9900));
  background: -moz-linear-gradient(#FFCC33, #CC9900) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(#FFCC33, #CC9900);
  background: -ms-linear-gradient(#FFCC33, #CC9900);
  background: linear-gradient(#FFCC33, #CC9900);
}

.orange:before {
  background: #F28518;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F28518), to(#9D5209));
  background: -moz-linear-gradient(#F28518, #9D5209) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(#F28518, #9D5209);
  background: -ms-linear-gradient(#F28518, #9D5209);
  background: linear-gradient(#F28518, #9D5209);
}

.progress-bar3 {
  width:0px;
  display: block;
  position: absolute;
}

/* Header */

#header {
  width:100%;
  background-color:#E4DCC2;/*#21160A;*/
  text-align:center;
  padding: 0px 0px 3px 0px;
  font-size:0.9em;
  position:fixed;
  z-index:100000;
  border-top: 2px solid #21160A;
  border-bottom: 2px solid #21160A;
  box-shadow: inset 0px 3px 5px 0px #656565, inset 0px -3px 5px 0px #656565;
  -webkit-box-shadow: inset 0px 3px 5px 0px #656565, inset 0px -3px 5px 0px #656565;
  -moz-box-shadow: inset 0px 3px 5px 0px #656565, inset 0px -3px 5px 0px #656565;
  -o-box-shadow: inset 0px 3px 5px 0px #656565, inset 0px -3px 5px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
  left:0;
}

#header2 {
  margin:auto;
  width:1000px;
}

.dropdown {
  margin:2px 0px 0px 0px;
}

#header2 ul {
  list-style: none;
}

#header2 ul.dropdown {
  position: relative;
}

#header2 ul.dropdown li {
  float: left;
  zoom: 1;
  width:12.5%;
}

#header2 ul.dropdown li.hover, 
#header2 ul.dropdown li:hover {
  position: relative;
}

#header2 ul.dropdown ul {
  visibility: hidden;
  position: absolute;
  top: 20px;
  left: 0;
  margin-left:-60px;
  border-radius: 0px 0px 5px 5px;
  background-color:#21160A;
  padding:0px 0px 8px 0px;
}

#header2 ul.dropdown ul li {
  float: none;
  width:200px;
}

#header2 ul.dropdown li ul li a {
  color:#FFF;
  text-decoration:none;
}

#header2 a {
  color:#21160A;
  text-decoration:none;
}

#missives {
  position:relative;
  margin: 39px 0 0 130px;
  width: 940px;
  font-size:0.9em;
}

/* Ban */

#header_ban {
  background-image:url('banniere.png');
  width:1250px;
  height:276px;
  cursor:pointer;
  float:left;
  margin:22px 0px 0px 45px;
}

/* 1st menu */
#header_menu {
  background-image:url('barre_menu.png');
  width:1250px;
  height:50px;
  top:276px;
  float:left;
  margin-left:45px;
}

#header_menu a {
  color:white;
  font-size:1.4em;
  font-family:"diogenes";
  position:relative;
  float:left;
  height:30px;
  text-align:center;
  padding-top:9px;
}

#header_menu .ssmenu {
  color:#21160a;
  text-shadow: -1px -1px 0px #FFF;
}

#menu_cite {
  margin-left:185px;
}

#menu_armee {
  margin-left:30px;
}

#menu_archives {
  margin-left:30px;
}

#menu_mythologie {
  margin-left:30px;
}

#menu_heros {
  margin-left:25px;
  display:none;
}

#header_menu #menu_forum {
  width:156px;
  color:black;
  font-weight:bold;
  margin-top:-20px;
  font-size:1.6em;
  margin-left:2px;
}

#menu_forum .ssmenu {
  color:#ffff00;
  text-shadow: -1px -1px 0px #000;
}

#menu_missions {
  
}

#menu_alliance {
  margin-left:23px;
}

#menu_commerce {
  margin-left:23px;
}

#menu_jeux {
  margin-left:23px;
}

/* 2nd menu */
#header_ssmenu {
  float:left;
  font-family: "old press", "poseiaoe", "dalek";
}

#header_ssmenu a {
  position:relative;
  float:left;
  font-size:1.4em;
  text-align:center;
}

#barre_menu_cite {
  background-image:url('barre_menu_cite.png');
  background-repeat:no-repeat;
  width:682px;
  height:28px;
  margin-left:123px;
}

#header_ssmenu_constructions {
  margin-left:4px;
  width:95px;
}

#header_ssmenu_construire {
  width:85px;
}

#header_ssmenu_armurerie {
  width:75px;
}

#header_ssmenu_tresor {
  width:60px;
}

#header_ssmenu_oracle {
  width:55px;
}

#header_ssmenu_bonus {
  width:90px;
}

#header_ssmenu_faveurs {
  margin-left: 90px;
  width: 100px;
}

#barre_menu_armee {
  background-image:url('barre_menu_armee.png');
  background-repeat:no-repeat;
  width:765px;
  height:28px;
  margin-left:173px;
}

#header_ssmenu_attaquer {
  margin-left:4px;
  width:95px;
}

#header_ssmenu_passerenrevue {
  width:120px;
}

#header_ssmenu_engager {
  width:90px;
}

#header_ssmenu_mesattaques {
  width:100px;
}

#header_ssmenu_strategiedefensive {
  margin-left:85px;
  width:120px;
}

#header_ssmenu_strategieoffensive {
  width:120px;
}

#barre_menu_mythologie {
  background-image:url('barre_menu_cite.png');
  background-repeat:no-repeat;
  width:765px;
  height:28px;
  margin-left:123px;
}

#header_ssmenu_arbredesdieux {
  margin-left:4px;
  width:130px;
}

#header_ssmenu_auteldesdieux {
  width:120px;
}

#header_ssmenu_temples {
  width:70px;
}

#header_ssmenu_statues {
  width:70px;
}

#header_ssmenu_succes {
  width:70px;
}

#header_ssmenu_prieres {
  margin-left:90px;
  width:100px;
}

#barre_menu_quetes {
  background-image:url('barre_menu_cite.png');
  background-repeat:no-repeat;
  width:765px;
  height:28px;
  margin-left:123px;
}

#header_ssmenu_poursuites {
  margin-left:20px;
  width:110px;
}

#header_ssmenu_missions {
  width:110px;
}

#header_ssmenu_quetes {
  width:105px;
}

#header_ssmenu_events {
  width:105px;
}

#header_ssmenu_missionsstats {
  margin-left:105px;
  width:110px;
}

#header_ssmenu_sanctuaires {
  margin-left:35px;
}

#barre_menu_heros {
  background-image:url('barre_menu_cite.png');
  background-repeat:no-repeat;
  width:765px;
  height:28px;
  margin-left:123px;
}

#header_ssmenu_herosinfo {
  margin-left:25px;
}

#header_ssmenu_herosmarchand {
  margin-left:25px;
}

#header_ssmenu_herosquetes {
  margin-left:25px;
}

#header_ssmenu_herosaventures {
  margin-left:25px;
}

#header_ssmenu_heroscombats {
  margin-left:25px;
}
      
#barre_menu_marche {
  background-image:url('barre_menu_cite.png');
  background-repeat:no-repeat;
  width:765px;
  height:28px;
  margin-left:123px;
}

#header_ssmenu_donnerunefaveur {
  margin-left:4px;
  width:115px;
}

#header_ssmenu_commerce {
  width:75px;
}

#header_ssmenu_vendre {
  width:65px;
}

#header_ssmenu_mesventes {
  width:90px;
}

#header_ssmenu_debarras {
  width:80px;
}

#header_ssmenu_faveurs2 {
  margin-left:104px;
  width:100px;
}

#header_ssmenu_donnerunefaveur {
  margin-left:30px;
}

#barre_menu_vide {
  background-image:url('barre_menu_vide.png');
  background-repeat:no-repeat;
  width:682px;
  height:28px;
  margin-left:584px;
}

/* Missions */

#etape {
  position:absolute;
  margin-left:800px;
  margin-top:15px;
  width:250px;
  padding:5px;
  z-index:1000;
  opacity:0.9;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background:white;
  border:1px solid black;
  font-size:0.7em;
}

> #etape:first-child {
  font-size:0.8em;
}

/* button */

input,
textarea {
  background-color: #f5efd0;
    border: 1px solid #857061;
}

.bouton_classique {
    background-color: #D9D2BF;
    border: 1px solid #000000;
    display: table;
    margin: auto;
}

input[type="submit"], input[type="button"] {
    background: linear-gradient(#F0E9D6, #D2C9AC) repeat scroll 0 0 transparent;
    border: 1px solid #CAC3B1;
    color: #0C0400;
    cursor: pointer;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-size: 1.1em;
    margin: 1px 2px;
    padding: 0 3px;
}

select {
    background: linear-gradient(#F0E9D6, #D2C9AC) repeat scroll 0 0 transparent;
    border: 1px solid #CAC3B1;
    color: #0C0400;
    cursor: pointer;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-size: 1.1em;
    margin: 1px 2px;
}

/* page */
#inside_co {
  background-image:url('sous_menu.png'), url('design_bas.png'), url('font_design.png');
  background-position: 0% 0%, left bottom, 0% 0%;
  background-repeat: no-repeat, no-repeat, repeat;
  padding-bottom: 15px;
  width: 1295px;
  float:left;
  margin-left:45px;
}

#inside_co_stat {
  float:left;
  position:relative;
  background-image: url("panneau_stats.png");
  background-position: left center;
  background-repeat: no-repeat;
  height: 163px;
  width: 154px;
  margin: 50px 0px 0px 8px;
}

#inside_co_int {
  float:left;
  position:relative;
  min-height:450px;
  margin: 8px 0px 0px 21px;
  position: relative;
  width: 873px;
  font-family: 'Times New Roman';
  font-size: 12px;
}

#inside_co_stat_int {
  float:left;
  position:relative;
  width:152px;
  margin:25px 0px 0px 2px;
  font-size:0.8em;
  color:#000;
}

#inside_co_stat_int .sousligne {
  text-decoration:underline;
}

#inside_co_ress {
  float:left;
  position:relative;
  background-image: url("panneau_droitefin.png");
  background-position: right center;
  background-repeat: no-repeat;
  height: 400px;
  width: 195px;
  margin: 35px 0px 0px 28px;
}

#inside_co_ress_tab {
  min-height:270px;
}

#inside_co_ress_tab table {
  margin:60px 0px 0px 10px;
  font-size:0.9em;
}

#inside_co_ress_a {
  width:144px;
  text-align:center;
}

#inside_co_ress_a a {
  color: #B30000 !important;
  font-weight: bold;
  text-align:center;
  width:100%;
  font-size:0.9em;
  text-decoration:underline;
}

/* pages */

/* batiment */

#erreur_bat {
  position:absolute;
  margin-top:250px;
  width:622px;
  margin-left:125px;
}

#cadre_batiment_description {
  width:642px;
  height:270px;
  margin:auto;
  background-image:url('contourgrand.png');
}

#cadre_batiment_types {
  width:385px;
  height:28px;
  background-image:url('menu.png');
  margin:auto;
  margin-bottom:10px;
}

#cadre_batiment_types2 {
  margin-top:3px;
  position:relative;
  float:left;
  font-size:1.3em;
  text-align:center;
  font-weight: bold;
  width:100%;
}

#cadre_batiment_liste {
  margin-left:24px;
  width:850px;
  position:relative;
  float:left;
  background-color:#EAE6E1;
}

.cadre_batiment_unite {
  height:150px;
  width:150px;
  position:relative;
  float:left;
  margin:10px;
  cursor : pointer;
}

.cadre_batiment_nom {
  text-align:center;
  width:100%;
  margin-top:125px;
  height:25px;
  position:relative;
  float:left;
  background-image:url('plaque.png');
  z-index:1000;
}

.cadre_batiment_nom2 {
  margin-top:5px;
  text-align:center;
  font-weight: bold;
  font-size:1.1em;
}

#cadre_batiment_cache {
  position:absolute;
  margin-top:510px;
  margin-left:140px;
  width:622px;
  height:260px;
}

.titre_batiment2 {
  margin-top:2px;
  margin-bottom:7px;
  font-size:1.4em;
  text-align:center;
}

.gauche_batiment {
  position:relative;
  float:left;
  width:210px;
}

.droite_batiment {
  position:relative;
  float:left;
  width:390px;
  line-height:14px;
}

#cadre_batiment_cache .texte1 {
  min-height:50px;
}

#cadre_batiment_cache tbody td:nth-child(1) {
    background-color: transparent;
}

#cadre_batiment_cache td {
  border: 0px solid #CDCDCD;
  box-shadow: 0 0px 0 #FFFFFF;
}

/* News */
#new_list.ligne .ligne a {
  margin-left:200px;
}

/* Bibliothèque */

.biblio_cadre {
  margin: 20px 15px 0px 15px;
  width:402px;
  float:left;
  border: 2px dashed #21160A;
}

.biblio_titre {
  font-weight:bold;
  width:339px;
  float:left;
  margin:5px 5px 0px 5px;
}

.biblio_titre_edit {
  width:345px;
  float:left;
  display:none;
}

.biblio_titre_edit input {
  width:345px;
  margin:5px 5px 0px 5px;
}

.biblio_edit {
  width:43px;
  float:right;
  text-align:right;
  margin:5px 5px 0px 5px;
}

.biblio_edit a {
  cursor : pointer;
}

.biblio_txt {
  text-align:justify;
  margin:5px;
}

.biblio_txt_edit {
  display:none;
}

.biblio_txt_edit textarea {
  width:388px;
  margin:5px;
  height:120px;
  padding-top:2px;
}

/* Cité */

#info_cite_gauche {
  width:50%;
  float:left;
}

#info_cite_droite {
  width:50%;
  float:right;
}

#cadre_info_cite {
  min-height:376px;
}

#cadre_info_actu {
  min-height:87px;
}

#cadre_info_oracle {
  min-height:34px;
}

#cadre_info_breves {
  min-height:87px;
}

#cadre_info_archives {
  min-height:148px;
}

#cadre_info_filleuls {
  
}

.cadre_info {
  width:434px;
  position:relative;
  margin-bottom:10px;
  float:left;
  margin-right:7px;
  margin-left:4px;
}

.cadre_info_bas {
  background-image:url('cadre_info_bas.png');
  width:100%;
  height:9px;
}

.cadre_info_haut {
  background-image:url('cadre_info_haut.png');
  width:100%;
  height:10px;
}

.cadre_info_centre {
  background-image:url('cadre_info_centre.png');
  background-repeat:repeat-y;
  min-height:10px;
  width:100%;
}

.cadre_info_interieur {
  margin-left:10px;
  width:415px;
}

.cadre_info .titre {
  width:100%;
  text-align:center;
  font-size:1.3em;
  font-weight: bold;
  color:#b30000 !important;
}

.cadre_info .mtitre {
  width:100%;
  text-align:left;
  font-size:1.1em;
  color:#b30000 !important;
}

.news {
    font-size: 0.9em;
    font-weight: bold;
    width: 100%;
}

/* Arbre des dieux */
.cadre_33 {
  position:relative;
  float:left;
  width:33.3%;
}

#tab_autel_dieux .cadre_33 img {
  cursor : pointer;
}

.arbre_bloc_noir {
  background-color:black;
  color:white;
  text-align:center;
  height:40px;
  width:40px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 2px 2px 4px 2px;
  border: 3px solid #2E2519;
  cursor : pointer;
}

.arbre_bloc_noir .arbre_description {
  display:none;
  color:black;
  padding:2px;
  background: white;
  padding: 3px;
  opacity:0.9;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background:white;
  border:1px solid black;
  font-size:12px;
  z-index:500;
  position: absolute;
  width:200px;
}

.arbre_bloc_noir:hover .arbre_description {
  display: inline; /* On affiche l'infobulle. */
  margin-top:45px;
}

.arbre_bloc_noir .compteur {
  position:relative;
  float:right;
  margin-top:24px;
  margin-right:1px;
  font-weight: bold;
}

/* nouveaumessage */

#cadre_gauche {
  width:180px;
  position:relative;
  float:left;
  text-align:left;
}

#cadre_gauche_int {
  margin-left:10px;
}

#cadre_gauche_int img {
  cursor:pointer;
}

#liste_destinataires {
  margin-top:10px;
  border: 2px dashed #21160A;
  background-color: #F5EFD0;
  padding: 5px;
}

#liste_destinataires div {
  
}

#cadre_gauche input {
  width:150px;
}

#cadre_droite {
  width:670px;
  position:relative;
  float:right;
}

.messages_recus {
	background-color:#E4FEE5 !important;
}

/* profilsjoueur */

#cadre_espace_profils {
  position:relative;
  float:left;
  width:500px;
}

#description_profils {
  position:relative;
  float:left;
  width:350px;
  font-size:14px;
  overflow:auto;
}

#cadre_avatar {
  position:relative;
  float:left;
  min-height:210px;
  width:220px;
  margin-left:80px;
}

#cadre_info_perso {
  position:relative;
  float:left;
  font-size:14px;
  margin-left:80px;
  margin-top:10px;
  width: 280px;
}

#cadre_info_joueur {
  position:relative;
  float:left;
  font-size:14px;
  width:200px;
}

#cadre_contact {
  position:relative;
  float:left;
  margin-left:20px;
}

#gauche_contact {
  position:relative;
  float:left;
  width:250px;
  min-height:1px;
}

#droite_contact {
  position:relative;
  float:right;
  width:623px;
}

.cadre_dedi {
  background-color: #F1DE9D;
  border: 1px solid white;
  height: 100px;
  margin-top: 3px;
  width:600px;
}

/* Succes */
#menu_hf {
  position:relative;
  float:left;
  width:152px;
  height:382px;
  background-image:url(../../../images/hf/font_hf2.png);
  background-repeat:no-repeat;
  text-align:left;
  margin-top:10px;
  margin-left:30px;
}

#liste_hf {
  position:relative;
  float:left;
  width:635px;
  margin-top:11px;
  margin-left:42px;
}

#hf_img_1 {
  margin-top:18px;
}

#menu_hf .bouton_hf {
  margin-top:12px;
  margin-left:17px;
  position:relative;
  float:left;
  width:114px;
  height:30px;
  background-color: #E4DCC2;
  border: 2px solid #B8860B;
  box-shadow: 2px 3px 5px 2px #656565 inset, 0 -3px 5px 0 #656565 inset;
  font-size: 0.8em;
  text-align: center;
}

.bouton_hf_int {
  position:relative;
  float:left;
  color:#B8860B;
  width:100%;
  text-align:center;
  font-size:2em;
  text-shadow: 0 -1px 0 #000;
  margin-top:5px;
}

.font_hf {
  background-image:url(../../../images/hf/font_succes.png);
  background-repeat:no-repeat;
  height:73px;
  width:624px;
  position:relative;
  float:left;
  margin-bottom:5px;
}

.titre_hf {
  position:relative;
  float:left;
  height:22px;
  width:558px;
  margin-top:5px;
  color:white;
  font-weight:bold;
  text-align:center;
}

.txt_hf {
  position:relative;
  float:left;
  width:558px;
  text-align:center;
}

.pt_hf  {
  position:relative;
  float:right;
  width:54px;
  color:white;
  font-weight: bold;
  margin-left:9px;
  margin-top:12px;
  text-align:center;
}

/* Parrainage */
.part_banniere {
  height:62px;
  width:375px;
}

/* Chat */

#cadre_chat {
  position:fixed;
  bottom:0;
  right:0;
  height:30px;
  z-index:1100;
  background-color: #E4DCC2;
  border: 2px solid #B8860B;
  box-shadow: 2px 3px 5px 2px #656565 inset, 0 -3px 5px 0 #656565 inset;
  color: #21160A
}

#cadre_chat_titre {
  text-align:center;
  width:100%;
  position:relative;
  float:left;
  z-index:1200;
  font-family: "diogenes";
  margin-top:3px;
}

#cadre_chat_titre {
    float: right;
    margin-top: 3px;
    position: relative;
}

#cadre_chat_titre2 {
    float: left;
    margin: 1px 1px 0px 10px;
    position: relative;
}

#cadre_chat_iconedeco {
    float: right;
    margin: 4px 8px 0px 8px;
    position: relative;
}

#cadre_chat_iconedeco2 {
    float: right;
    margin: 2px 8px 0px 8px;
    position: relative;
}

#cadre_chat_fermer {
  position:relative;
  text-align:right;
  float:right;
  z-index:1400;
  width:100%;
  height:30px;
}

#cadre_chat_interieur {
  width:600px;
  position:relative;
  float:left;
  z-index:1200;
  margin:10px;
  font-size:0.8em;
}

#cadre_chat_interieur_droite {
  position:relative;
  float:right;
  z-index:1300;
  width:150px;
}

#cadre_chat_interieur_gauche {
  position:relative;
  float:left;
  z-index:1300;
  width:440px;
  margin-right:10px;
}

#cadre_chat_interieur_gauche .bouton_classique {
  margin: 0px 0px 0px 10px;
  position:relative;
  float:left;
}

#corps_chat {
  margin-bottom:3px;
  border: 1px groove black;
  width:438px;
  height:300px;
  overflow: auto;
  background-color:white;
  overflow-wrap: break-word;
}

#texte_chat {
    float: left;
    position: relative;
    margin-top:2px;
    width:344px;
}

#joueurs_chat {
  width:100%;
  height:300px;
  overflow: auto;
  background-color:white;
  overflow-wrap: break-word;
  border: 1px groove black;
}

/* Classement */
#cadre_classement {
  position:relative;
  float:left;
}

#class_gauche {
  position:relative;
  float:left;
  width:48px;
  height:100px;
  margin-right:5px;
  margin-top:229px;
}

#class_centre {
  position:relative;
  float:left;
}

#class_centre table {
  width:767px;
}

#class_droite {
  position:relative;
  float:left;
  width:48px;
  height:100px;
  margin-left:5px;
  margin-top:230px;
}

.form_rech3 {
  position:relative;
  float:left;
  margin-top:1px;
}

.form_rech4 {
  position:relative;
  float:left;
  margin-left:10px;
}

.form_rech5 {
  position:relative;
  float:left;
  margin-top:10px;
  margin-left:40px;
  text-align:center;
  width:120px;
}

#rech_classement {
  margin-left:53px;
}

/* profilsalliance */
.laurier1 {
  width:25px;
  height:13px;
  text-align:center;
  position:relative;
  float:left;
}

.laurier2 {
  position:absolute;
  text-align:right;
  font-size:0.7em;
  width:23px;
  margin-top:11px;
}

#cadre_com_profils {
  position:relative;
  float:left;
  background-image:url('../../../images/menu/interieur.png');
  background-repeat:repeat-y;
  width:779px;
  margin-left:48px;
}

#cadre_com_profils2 {
  background-image:url('../../../images/menu/haut.png');
  background-repeat:no-repeat;
  width:779px;
  height:13px;
}

#cadre_com_profils3 {
  position:relative;
  float:left;
  background-image:url('../../../images/menu/bas.png');
  background-repeat:no-repeat;
  width:779px;
  height:15px;
}

#cadre_com_profils4 {
  position:relative;
  float:left;
  margin-left:15px;
  margin-right:15px;
  min-height:80px;
}

#cadre_laurier {
  margin-left:357px;
}

/* autel des dieux */
.gauche_autel {
  position:relative;
  float:left;
  width:220px;
}

.droite_autel {
  position:relative;
  float:right;
  width:390px;
}

/* Archives */
.cache_historique {
  position:relative;
  float:left;
  margin-left:125px;
  width:375px;
  text-align:justify;
  margin-top:5px;
  margin-bottom:15px;
  display:none;
}

#tableau_historique {
  position:relative;
  float:left;
  width:610px;
  margin-left:120px;
  margin-top:20px;
}

.gauche_historique {
  position:relative;
  float:left;
  width:130px;
}

.droite_historique {
  position:relative;
  float:left;
  width:455px;
  text-align:left;
  margin-left:25px;
  cursor : pointer;
}

/* cotisations */
#menu_affaires {
    float: left;
    width: 200px;
    margin-left:20px;
}

#corps_affaires {
    width:600px;
    margin: auto;
    text-align: center;
    float:right;
}

/* Héros */
.cadre_personnage_titre {
  font-size:1.1em;
  font-weight: bold;
}

#cadre_personnage {
  margin-left:84px;
}

.cadre_personnage {
  float:left;
  width:211px;
  min-height:300px;
  border:5px solid black;
  margin:8px 8px 15px 8px;
  cursor : pointer;
  font-size:0.8em;
  background: linear-gradient(to bottom, #83B600, #9EDD00);
}

.cadre_personnage_int {
  margin:5px 3px 4px 3px;
  position:relative;
  text-align:justify;
}

.cadre_personnage_plus {
  margin-top:80px;
  font-weight: bold;
  font-size:1.3em;
}

#heros_stuff {
  background-color:red;
  height:300px;
  width:300px;
  margin:10px;
  position:relative;
  float:left;
}

#personnage_stats2 {
  background-color:red;
  height:300px;
  width:300stuff_objetpx;
  margin:10px;
  position:relative;
  float:left;
}

#personnage_stats {
  margin:10px;
}

#marchand_cadre {
  background-color:red;
  height:200px;
  width:300px;
  margin:10px;
  position:relative;
  float:left;
}

#marchand_objets {
  background-color:red;
  height:200px;
  width:300px;
  margin:10px;
  position:rela tive;
  float:left;
}

.marchand_obj {
  width:60px;
  height:60px;
  background-color:yellow;
  position:relative;
  float:left;
}

.stuff_deplacable {
  width:100%;
  height:100%;
  position:relative;
  float:left;
}

.stuff_deplacable2 {
  margin-top:40px;
  margin-right:3px;
  height:20px;
  float:right;
  position:relative;
}

#contenu_sac {
  width:700px;
  position:relative;
  float:left;
  background-color:brown;
}

#personnage_casque {

}

#emplacement_2 {
  margin-left:165px;
}

#emplacement_3 {
  
}

#emplacement_4 {
  margin-left:165px;
}

#emplacement_5 {
  
}

#emplacement_6 {
  margin-left:85px;
}

#emplacement_7 {
  float:left;
}

.stuff_objet {
  position:relative;
  float:left;
  background-color:black;
  height:60px;
  width:60px;
  margin:5px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/*obtenirdesfaveurs */
.cache_renta {
  display:none;
}

/* statues */
#tab_statues .cadre_50 img {
  cursor : pointer;
}

.gauche_autel {
  position:relative;
  float:left;
  width:220px;
}

.droite_autel {
  position:relative;
  float:right;
  width:390px;
}

/* faveurs */
#menu_hf .nb_faveur {
  position:relative;
  float:left;
  width:100%;
  text-align:center;
  font-size:1.5em;
  margin-top:12px;
}

#menu_hf .bouton_fv {
  margin-top:8px;
  margin-left:17px;
  position:relative;
  float:left;
  width:114px;
  height:30px;
  background-color: #E4DCC2;
  border: 2px solid #B8860B;
  box-shadow: 2px 3px 5px 2px #656565 inset, 0 -3px 5px 0 #656565 inset;
  font-size: 0.8em;
  text-align: center;
}

#menu_hf .bouton_fv_int {
  position:relative;
  float:left;
  color:#B8860B;
  width:100%;
  text-align:center;
  font-size:2em;
  text-shadow: 0 -1px 0 #000;
  margin-top:5px;
}

.cadre_renta {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B8860B;
    border-radius: 10px;
    font-size: 12px;
    height: 125px;
    left: 3%;
    right: 3%;
    margin-bottom: 10px;
    opacity: 0.8;
    padding-top: 5px;
    position: absolute;
    z-index: 10000;
}

/* BTN */
#interieur {
  width:400px;
  margin:auto;
}

#btn_gold {
  position:absolute;
  margin:-25px 0px 0px 650px;
  width:100px;
  text-align:right;
  font-weight: bold;
}

#btn_liste {
  text-align:center;
  font-weight: bold;
  margin-left: 218px;
  margin-top:-16px;
  width:435px;
  position:absolute;
}

#partie {
  margin-left:15%;
  width:70%;
}

#carte {
  width:90%;
  margin:auto;
  background-color:black;
}

#info_case_ext {
  background: none repeat scroll 0 0 white;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  margin-left: 218px;
  width:435px;
  opacity: 0.8;
  position:absolute;
  z-index:500;
}

#info_case input {

}

.case {
  position:relative;
  float:left;
  border:2px solid black;
}

.case_terre {
  background-color:brown;
}

.case_mer {
  background-color:darkblue;
}

.case_mernoire {
  background-color:#19144F;
}

.forme {
  z-index:99;
}

.mesformes {
  cursor:move;
}

.cercle {
  border-radius: 390px;
}

.carre {

}

.forme_bleu {
  background-color:rgba(111, 111,111,0.6);
  border: 10px solid rgba(0,174,239,0.2);
}

.forme_rouge {
  background-color:rgba(111, 111,111,0.6);
  border: 10px solid rgba(255,0,0,0.2);
}

.forme_vert {
  background-color:rgba(111, 111,111,0.6);
  border: 10px solid rgba(0,240,36,0.2);
}

.forme_jaune {
  background-color:rgba(111, 111,111,0.6);
  border: 10px solid rgba(240,232,0,0.2);
}

#slider_bireme, #slider_trireme, #slider_quadrireme, #slider_leviathan, #mover_bireme, #mover_trireme, #mover_quadrireme, #mover_leviathan {
    background: url("bg-track.png") repeat scroll left top transparent;
    border-color: #333333 #333333 #777777;
    border-radius: 25px 25px 25px 25px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5) inset, 0 1px 0 0 rgba(250, 250, 250, 0.5);
    height: 13px;
    left: 20px;
    position: absolute;
    width: 150px;
}

.ui-slider-handle {
    background: url("handle.png") no-repeat scroll 50% 50% transparent;
    color: #1C94C4;
    cursor: pointer;
    font-weight: bold;
    height: 25px;
    margin-left: -12px;
    outline: medium none;
    position: absolute;
    top: -7px;
    width: 25px;
    z-index: 2;
}

#info_fermer {
  text-align:center;
  font-weight: bold;
  z-index:1000;
}

.ligne_achat {
  width:90%;
  margin-left: 5%;
}

.ext_slider {
  position:relative;
  float:left;
  margin-left:30%;
}

.valide_slider {
  position:relative;
  float:right;
  margin-left:50px;
}

.input_achat {
  width:25%;
}

/* Jeux */
#cadre_ticket {
	margin: auto;
	width: 150px;
}

/* Sanctuaires */



/* Evenements */
.caseJour {
  width: calc(100% / 7);
  text-align:center;
  float:left;
  position:relative;
  font-weight:bold;
  font-size:1.1em;
}

.caseEvenements {
  width: calc(0px - 14px + 100% / 7);
  float:left;
  position:relative;
  margin:5px;
  background-color: #e4dcc2;
  border: 2px solid #b8860b;
  box-shadow: 2px 3px 5px 2px #656565 inset, 0 -3px 5px 0 #656565 inset;
  padding-bottom:5px;
}

.caseEvenements .jour {
  text-align:left;
  margin:5px 0px 5px 10px;
  color:white;
  font-weight:bold;
}

.caseEvenements .caseList {
  position:absolute;
  bottom:5px;
}

.caseEvenements .evenement {
  text-align:left;
  padding-left:3px;
  padding-right:3px;
}
