@font-face {
    font-family: "diogenes";
    src: url('../../diogenes.ttf');
}

body {
	background-color:#3694DB;
	padding:0;
	margin:auto;
	width:1250px;
}

a {
	text-decoration:none;
	color:black;
}

table {
	margin:auto;
}

thead {
	font-weight:bold;
	font-size:1.1em;
}

.clear {
	clear:both
}

#banniere {
	background-image:url('banniere.png');
	width:1250px;
	height:276px;
	cursor:pointer;
}

#menu {
	background-image:url('barre_menu.png');
	width:1250px;
	height:50px;
	position:absolute;
	top:276px;
}

footer {
  min-height:50px;
  width:100%;
  background-color:black;
  bottom:0;
}

footer nav {
  padding:10px 0px 10px 0px;
  font-size:0.75em;
  color:white;
  column-count:5;
  -moz-column-count:5;
  -webkit-column-count:5;
  
  column-gap: 20px;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  
  column-rule: 1px dotted #BBBBBB;
  -moz-column-rule: 1px dotted #BBBBBB;
  -webkit-column-rule: 1px dotted #BBBBBB;
}

footer nav .titre {
  font-weight:bold;
}

footer nav a {
  color:white;
  text-decoration:none;
}

#home {
	margin-top:50px;
	background-image:url('sous_menu.png'), url('design_bas.png'), url('font_design.png');
	background-position: 0% 0%, bottom, 0% 0%;
	background-repeat: no-repeat, no-repeat, repeat;
	padding-bottom: 7px;
	width: 1250px;
}

#home_int {
	background-image:url('header_tab_accueil.png'), url('font_bas_cadre.png'), url('font_texte_accueil.png');
	background-position: 0% 0%, bottom, 0% 0%;
	background-repeat: no-repeat, no-repeat, repeat-y;
	width:873px;
	margin-left:188px;
	padding-bottom:85px;
	position:relative;
	float:left;
}

#formulaire {
	width:230px;
	display:inline;
	float:right;
	padding-top:75px;
	margin-right:15px;
	text-align:center;
}

#inscription {
	position:relative;
	width:230px;
}

#connexion {
	position:relative;
	width:230px;
}

#inside {
	width:553px;
	display:inline;
}

#inside article {
	width:500px;
	margin-left:15px;
	padding-top:60px;
}

#inside article h1:first-letter, 
#inside article h2:first-letter, 
#inside article p:first-letter,
#formulaire h2:first-letter,
#new_list.ligne .ligne:first-letter {
    color: #B30000 !important;
}

#inside article h1 {
	font-size: 1.7em;
	text-align:center;
	margin:18px 0px 8px 0px;
}

#inside article h2 {
    font-size: 1.2em;
    margin: 5px 0px;
    text-align: center;
}

#inside article p {
	font-size:0.8em;
	text-align:justify;
	margin:2px 0px;
}

input {
	background-color: #EAE7E1;
    border: 1px solid #857061;
}

.bouton_classique {
    background-color: #D9D2BF;
    border: 1px solid #000000;
    display: table;
    margin: auto;
}

input[type="submit"] {
    background: linear-gradient(#F0E9D6, #D2C9AC) repeat scroll 0 0 transparent;
    border: 1px solid #CAC3B1;
    color: #0C0400;
    cursor: pointer;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-size: 1.1em;
    margin: 1px 2px;
    padding: 0 3px;
}

#formulaire h2 {
	margin-top:5px;
	margin-bottom:5px;
}


#formulaire input.form{
	width:80%;
	margin-top:3px;
}

#formulaire .bouton_classique  {
	margin-top:5px;
}

#reseaux_sociaux {
	text-align:center;
}

#home_description {
	width:100%;
}

#home_description_1 {
	
}

#inside article #home_description_1 h2,
#inside article #home_description_2 h2,
#inside article #home_description_3 h2,
#inside article #home_description_4 h2 {
	margin-left:25%;
}

#home_description_2 {
	display:none;
}

#home_description_3 {
	display:none;
}

#home_description_4 {
	display:none;
}

.home_description_left {
	width:25%;
	float:left;
	text-align:center;
}

.home_description_left img {
	width:96%;
}

.cursor {
	cursor: pointer;
}

.home_description_right {
	width:75%;
	float:left;
	font-size:0.8em;
}

.home_description_right_inner {
	width:96%;
	margin-left:2%;
	text-align:justify;
}

.ligne {
	position:relative;
	float:left;
	width:100%;
}

.ligne80 {
	font-size:0.8em;
}

.ligne_50 {
	position:relative;
	float:left;
	width:50%;
}

.gras {
  font-weight:bold;
}

.justify {
	text-align:justify;
}

#new_list.ligne .ligne {
	font-size:0.8em;
}