body {
  margin:auto;
  padding:0;
  background-color:skyblue;
  min-height:800px;
}

footer {
  margin-top:20px;
  min-height:50px;
  width:100%;
  background-color:black;
  bottom:0;
}

footer nav {
  padding:10px 0px 10px 0px;
  font-size:0.75em;
  color:white;
  column-count:5;
  -moz-column-count:5;
  -webkit-column-count:5;
  
  column-gap: 20px;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  
  column-rule: 1px dotted #BBBBBB;
  -moz-column-rule: 1px dotted #BBBBBB;
  -webkit-column-rule: 1px dotted #BBBBBB;
}

footer nav .titre {
  font-weight:bold;
}

footer nav a {
  color:white;
  text-decoration:none;
}

/*Général*/
.ligne {
  width:100%;
}

/*Accueil*/
section#home {
  width:762px;
  height:519px;
  margin:auto;
  margin-top:50px;
  text-align:center;
  background-image:url('navigationdroite.png');
  background-repeat:no-repeat;
  background-position:right;
}

section#home #formulaire {
  width:187px;
  float:left;
  height:380px;
  margin:35px 0 0 0;
  background-image:url('navigationgauche.png');
  background-repeat:no-repeat;
}

section#home #formulaire article {
  margin:0px 0px 0px 32px;
  width:147px;
}

section#home #formulaire article .form {
  width:90%;
  margin-top:2px;
}

section#home #inside {
  width:575px;
  float:right;
  margin-top:25px;
}

section#home section#inside article {
  width:480px;
  height:440px;
  margin: 5px 0px 3px 17px;
  padding-right:5px;
  text-align:justify;
  overflow-y:auto;
  overflow-x:hidden;
}

section#home section#inside article h1{
  text-align:center;
  margin:0;
  padding:2px 0px 0px 0px;
  font-size:1.2em;
}

section#home section#inside article h2{
  text-align:center;
  margin:0;
  font-size:1.1em;
  padding:4px 0px 0px 0px;
}

section#home section#inside article p {
  margin:0;
  font-size:0.8em;
}