/* Policy */

@font-face {
    font-family: "diogenes";
    src: url('../../policy/diogenes.ttf');
}

@font-face {
    font-family: "marav";
    src: url('../../policy/Marav2.ttf');
}

@font-face {
    font-family: "poseiaoe";
    src: url('../../policy/PoseiAOE.ttf');
}

@font-face {
    font-family: "dalek";
    src: url('../../policy/DALEK.ttf');
}

@font-face {
    font-family: "spqr";
    src: url('../../policy/spqr.ttf');
}

/* General CSS */

body {
	background-color:#3694DB;
	padding:0;
	margin:auto;
	width:1250px;
}

a {
	text-decoration:none;
	color:black;
}

h1 {
	text-align:center;
}

h1:first-letter, h2:first-letter,
.news:first-letter,
.rouge_goco {
    color: #B30000 !important;
}


table {
	margin:auto;
	margin-top:5px;
    border-collapse: separate;
    border-spacing: 0;
    color: #2A2A2A;
}

thead {
	font-weight:bold;
	font-size:1em;
	text-shadow: 0 1px 0 #FFFFFF;
}

thead td {
    border-top: 1px solid #EAEAEA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font: bold 1.3em 'trebuchet MS','Lucida Sans',Arial;
}

thead td:first-child {
    border-top: medium none;
}

table thead tr td:first-letter {
	color: #B30000 !important;
}

tfoot {
  font-weight:bold;
}

tbody {
	font-size:0.9em;
}

td {
    border-bottom: 1px solid #CDCDCD;
    box-shadow: 0 1px 0 #FFFFFF;
    padding: 3px;
    white-space: nowrap;
}

tbody td:nth-child(1) {
	background-color:#E1B88F;
	font-weight:bold;
}

td:nth-child(2), td:nth-child(3),
td:nth-child(4), td:nth-child(5) {
    background: none repeat scroll 0 0 rgba(210, 182, 150, 0.15);
    border-right: 1px solid #FFFFFF;
}

table.none tbody td:nth-child(1),
table.none tbody td:nth-child(2), 
table.none tbody td:nth-child(3),
table.none tbody td:nth-child(4), 
table.none tbody td:nth-child(5) {
	background-color:transparent;
	font-weight:normal;
}

table.none td {
	border:0px;
	box-shadow:0 0px 0 #000;
}

/* General class*/

.centrer {
	text-align:center;
}

.clear {
	clear:both
}

.normal {
	font-weight:normal;
}

.ligne {
	position:relative;
	float:left;
	width:100%;
}

.ligne80 {
	font-size:0.8em;
}

.ligne90 {
  font-size:0.8em;
}

.ligne_50 {
	position:relative;
	float:left;
	width:50%;
}

.ligne_80 {
	width:80%;
	margin:auto;
}

.gras {
  font-weight:bold;
}

.gauche {
	text-align:left;
}

.droite {
	text-align:right;
}

.justify {
	text-align:justify;
}

.valign {
    display: inline-block;
    vertical-align: middle;
}

.erreur {
	color:red;
	font-weight:bold;
	text-align:center;
}

/* Barres de chargement */

.progress-bar {
  width: 0px;
  height: 18px;
  padding: 2px 2px 3px 2px;
  background-color: #E6DCBF;
/*background-color: #191919;*/
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
  -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
  -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
  position:relative;
  float:left;
  margin:10px;
  margin-top:0px;
  box-shadow: 1px 1px 12px #555;
}

.progress-bar2:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 18px;
  background: #999;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

.progress-bar2:after {
  content: '|||||||||||||';
  display: block;
  position: absolute;
  width: 100%;
  height: 18px;
  overflow: hidden;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  -moz-transform: skewX(-30deg);
  -o-transform: skewX(-30deg);
  font: bold 120px/80px sans-serif;
  letter-spacing: -8px;
  color: #000;
  opacity: 0.06;
}

.progress-bar-txt {
  display: block;
  position: absolute;
  z-index:1000;
  width:100%;
  color:white;
  text-align:center;
  text-shadow: 1px 1px 12px #000;
  margin-top:3px;
}

.blue:before {
  background: #099;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#099), to(#006A6B));
  background: -moz-linear-gradient(top, #099, #006A6B);
  background: -o-linear-gradient(#099, #006A6B);
  background: -ms-linear-gradient(#099, #006A6B);
  background: linear-gradient(#099, #006A6B);
}

.rouge:before {
  background: #FF0000;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF0000), to(#D30000));
  background: -moz-linear-gradient(top, #FF0000, #D30000);
  background: -o-linear-gradient(#FF0000, #D30000);
  background: -ms-linear-gradient(#FF0000, #D30000);
  background: linear-gradient(#FF0000, #D30000);
}

.vert:before {
  background: #77B33C;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#77B33C), to(#446622));
  background: -moz-linear-gradient(#77B33C, #446622) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(#77B33C, #446622);
  background: -ms-linear-gradient(#77B33C, #446622);
  background: linear-gradient(#77B33C, #446622);
}

.jaune:before {
  background: #FFCC33;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFCC33), to(#CC9900));
  background: -moz-linear-gradient(#FFCC33, #CC9900) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(#FFCC33, #CC9900);
  background: -ms-linear-gradient(#FFCC33, #CC9900);
  background: linear-gradient(#FFCC33, #CC9900);
}

.orange:before {
  background: #F28518;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F28518), to(#9D5209));
  background: -moz-linear-gradient(#F28518, #9D5209) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(#F28518, #9D5209);
  background: -ms-linear-gradient(#F28518, #9D5209);
  background: linear-gradient(#F28518, #9D5209);
}

.progress-bar3 {
  width:0px;
  display: block;
  position: absolute;
}

/* Header */

#header {
  width:100%;
  background-color:black;
  color:white;
  background: linear-gradient(#CCC6C3 0%, #828C95 24%, #000000 41%, #7F7F7F 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  text-align:center;
  padding: 0px 0px 3px 0px;
  font-size:0.8em;
  float:left;
}

#header2 {
  margin:auto;
  width:800px;
}

.dropdown {
  margin:2px 0px 0px 0px;
}

#header2 ul {
  list-style: none;
}

#header2 ul.dropdown {
  position: relative;
}

#header2 ul.dropdown li {
  float: left;
  zoom: 1;
  width:12.5%;
}

#header2 ul.dropdown li.hover, 
#header2 ul.dropdown li:hover {
  position: relative;
}

#header2 ul.dropdown ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  margin-left:-90px;
}

#header2 ul.dropdown ul li {
  background: #f6f6f6;
  color: #FFF;
  float: none;
  background-color:black;
  width:200px;
}

#header2 a {
  color:white;
  text-decoration:none;
}

/* Ban */

#header_ban {
	background-image:url('banniere.png');
	width:1250px;
	height:276px;
	cursor:pointer;
	float:left;
}

/* 1st menu */
#header_menu {
	background-image:url('barre_menu.png');
	width:1250px;
	height:50px;
	top:276px;
	float:left;
}

#header_menu a {
	color:white;
	font-size:1.4em;
	font-family:"diogenes";
	position:relative;
	float:left;
	height:30px;
	text-align:center;
	padding-top:9px;
}

#header_menu .ssmenu {
	width:100%;
	margin: 1px 0 0 1px;
	position:absolute;
	color:#21160a;
	float:none;
}

#menu_cite {
	margin-left:125px;
}

#menu_armee {
	margin-left:25px;
}

#menu_archives {
	margin-left:25px;
}

#menu_mythologie {
	margin-left:25px;
}

#menu_heros {
	margin-left:25px;
}

#header_menu #menu_forum {
	width:156px;
	color:black;
	font-weight:bold;
	margin-top:-20px;
	font-size:1.6em;
}

#menu_forum .ssmenu {
	color:#ffff00;
}

#menu_missions {
	
}

#menu_alliance {
	margin-left:25px;
}

#menu_commerce {
	margin-left:25px;
}

#menu_jeux {
	margin-left:25px;
}

/* 2nd menu */
#header_ssmenu {
	float:left;
	font-family:"poseiaoe", "dalek", "spqr";
}

#header_ssmenu a {
	position:relative;
	float:left;
	font-size:1.5em;
}

#barre_menu_cite {
	background-image:url('barre_menu_cite.png');
	background-repeat:no-repeat;
	width:682px;
	height:28px;
	margin-left:123px;
}

#header_ssmenu_constructions {
	margin-left:20px;
}

#header_ssmenu_construire {
	margin-left:25px;
}

#header_ssmenu_armurerie {
	margin-left:25px;
}

#header_ssmenu_tresor {
	margin-left:25px;
}

#header_ssmenu_oracle {
	margin-left:25px;
}

#header_ssmenu_bonus {
	margin-left:20px;
}

#header_ssmenu_faveurs {
	margin-left:110px;
}

#barre_menu_armee {
	background-image:url('barre_menu_armee.png');
	background-repeat:no-repeat;
	width:765px;
	height:28px;
	margin-left:173px;
}

#header_ssmenu_attaquer {
	margin-left:30px;
}

#header_ssmenu_passerenrevue {
	margin-left:30px;
}

#header_ssmenu_engager {
	margin-left:30px;
}

#header_ssmenu_mesattaques {
	margin-left:30px;
}

#header_ssmenu_strategiedefensive {
	margin-left:110px;
}

#header_ssmenu_strategieoffensive {
	margin-left:25px;
}

#barre_menu_mythologie {
	background-image:url('barre_menu_cite.png');
	background-repeat:no-repeat;
	width:765px;
	height:28px;
	margin-left:123px;
}

#barre_menu_heros {
	background-image:url('barre_menu_cite.png');
	background-repeat:no-repeat;
	width:765px;
	height:28px;
	margin-left:123px;
}

#barre_menu_marche {
	background-image:url('barre_menu_cite.png');
	background-repeat:no-repeat;
	width:765px;
	height:28px;
	margin-left:123px;
}

#header_ssmenu_donnerunefaveur {
	margin-left:30px;
}

#header_ssmenu_commerce {
	margin-left:30px;
}

#header_ssmenu_vendre {
	margin-left:30px;
}

#header_ssmenu_mesventes {
	margin-left:30px;
}

#header_ssmenu_debarras {
	margin-left:30px;
}

#header_ssmenu_faveurs2 {
	margin-left:119px;
}

#header_ssmenu_donnerunefaveur {
	margin-left:30px;
}

#barre_menu_vide {
	background-image:url('barre_menu_vide.png');
	background-repeat:no-repeat;
	width:682px;
	height:28px;
	margin-left:584px;
}

/* button */

input,
textarea {
	background-color: #f5efd0;
    border: 1px solid #857061;
}

.bouton_classique {
    background-color: #D9D2BF;
    border: 1px solid #000000;
    display: table;
    margin: auto;
}

input[type="submit"], input[type="button"] {
    background: linear-gradient(#F0E9D6, #D2C9AC) repeat scroll 0 0 transparent;
    border: 1px solid #CAC3B1;
    color: #0C0400;
    cursor: pointer;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-size: 1.1em;
    margin: 1px 2px;
    padding: 0 3px;
}

select {
    background: linear-gradient(#F0E9D6, #D2C9AC) repeat scroll 0 0 transparent;
    border: 1px solid #CAC3B1;
    color: #0C0400;
    cursor: pointer;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-size: 1.1em;
    margin: 1px 2px;
}

/* page */
#inside_co {
	background-image:url('sous_menu.png'), url('design_bas.png'), url('font_design.png');
	background-position: 0% 0%, bottom, 0% 0%;
	background-repeat: no-repeat, no-repeat, repeat;
	padding-bottom: 15px;
	width: 1250px;
	float:left;
}

#inside_co_int {
	float:left;
	min-height:450px;
    margin: 8px 0px 0px 185px;
    position: relative;
    width: 873px;
    font-family: 'Times New Roman';
	font-size: 12px;
}

/* pages */

/* batiment */

#erreur_bat {
  position:absolute;
  margin-top:250px;
  width:622px;
  margin-left:125px;
}

#cadre_batiment_description {
  width:642px;
  height:270px;
  margin:auto;
  background-image:url('contourgrand.png');
}

#cadre_batiment_types {
  width:385px;
  height:28px;
  background-image:url('menu.png');
  margin:auto;
}

#cadre_batiment_types2 {
  margin-top:3px;
  position:relative;
  float:left;
  font-size:1.3em;
  text-align:center;
  font-weight: bold;
  width:100%;
}

#cadre_batiment_liste {
  margin-left:24px;
  margin-top:10px;
  width:850px;
  position:relative;
  float:left;
  background-color:#EAE6E1;
}

.cadre_batiment_unite {
  height:150px;
  width:150px;
  position:relative;
  float:left;
  margin:10px;
  cursor : pointer;
}

.cadre_batiment_nom {
  text-align:center;
  width:100%;
  margin-top:125px;
  height:25px;
  position:relative;
  float:left;
  background-image:url('plaque.png');
  z-index:1000;
}

.cadre_batiment_nom2 {
  margin-top:5px;
  text-align:center;
  font-weight: bold;
  font-size:1.1em;
}

#cadre_batiment_cache {
  position:absolute;
  margin-top:510px;
  margin-left:140px;
  width:622px;
  height:260px;
}

.titre_batiment2 {
  margin-top:2px;
  margin-bottom:7px;
  font-size:1.4em;
  text-align:center;
}

.gauche_batiment {
  position:relative;
  float:left;
  width:210px;
}

.droite_batiment {
  position:relative;
  float:left;
  width:390px;
  line-height:14px;
}

#cadre_batiment_cache .texte1 {
  min-height:50px;
}

#cadre_batiment_cache tbody td:nth-child(1) {
    background-color: transparent;
}

#cadre_batiment_cache td {
	border: 0px solid #CDCDCD;
	box-shadow: 0 0px 0 #FFFFFF;
}

/* Bibliothéque */

.biblio_cadre {
	margin: 0% 2% 0% 2%;
	width:46%;
	float:left;
}

.biblio_titre {
	font-weight:bold;
	width:90%;
	float:left;
}

.biblio_titre_edit {
	width:90%;
	float:left;
	display:none;
}

.biblio_titre_edit input {
	width:100%;
}

.biblio_edit {
	width:10%;
	float:left;
	text-align:right;
}

.biblio_txt {
	text-align:justify;
}

.biblio_txt_edit {
	display:none;
}

.biblio_txt_edit textarea {
	width:100%;
	height:120px;
	padding-top:2px;
}

/* Cité */

#info_cite_gauche {
  width:50%;
  float:left;
}

#info_cite_droite {
  width:50%;
  float:right;
}

#cadre_info_cite {
  min-height:376px;
}

#cadre_info_actu {
  min-height:87px;
}

#cadre_info_oracle {
  min-height:34px;
}

#cadre_info_breves {
  min-height:87px;
}

#cadre_info_archives {
  min-height:148px;
}

#cadre_info_filleuls {
  
}

.cadre_info {
  width:434px;
  position:relative;
  margin-bottom:10px;
  float:left;
  margin-right:7px;
  margin-left:4px;
}

.cadre_info_bas {
  background-image:url('cadre_info_bas.png');
  width:100%;
  height:9px;
}

.cadre_info_haut {
  background-image:url('cadre_info_haut.png');
  width:100%;
  height:10px;
}

.cadre_info_centre {
  background-image:url('cadre_info_centre.png');
  background-repeat:repeat-y;
  min-height:10px;
  width:100%;
}

.cadre_info_interieur {
  margin-left:10px;
  width:415px;
}

.cadre_info .titre {
  width:100%;
  text-align:center;
  font-size:1.3em;
  font-weight: bold;
  color:#b30000 !important;
}

.cadre_info .mtitre {
  width:100%;
  text-align:left;
  font-size:1.1em;
  color:#b30000 !important;
}

.news {
    font-size: 0.9em;
    font-weight: bold;
    width: 100%;
}
